/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <behaviors/unicode.dtsi> 
#include <zmk-unicode/keys/russian.h>

#define DEF 0
#define LWR 1
#define RAI 2
#define RUS 3
#define CMD 4 

#define MEH(key) LS(LC(LA(key)))
#define SUP(key) LS(LC(LA(LG(key))))

&uc {
  default-mode = <UC_MODE_MACOS>;
  minimum-length = <4>;
  macos-key = <RALT>;
};

/ {
    behaviors {
        custom_md: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&to>;
            display-name = "Custom MD";
        };

        // ь/Ь → ъ/Ъ при Alt
        ru_soft: ru_soft_hard {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&uc UC_RU_SOFT>, <&uc UC_RU_HARD>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        // ш/Ш → щ/Щ при Alt
        ru_sh: ru_sh_shch {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&uc UC_RU_SH>, <&uc UC_RU_SHCH>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        // е/Е → ё/Ё при Alt
        ru_ye: ru_ye_yo {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&uc UC_RU_YE>, <&uc UC_RU_YO>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        // , → ; при Shift
        comma_semi: comma_semi {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          bindings = <&kp COMMA>, <&kp SEMICOLON>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          keep-mods = <0>;  // ← не передавать Shift дальше
        };

        // . → : при Shift
        dot_colon: dot_colon {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          bindings = <&kp DOT>, <&kp COLON>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          keep-mods = <0>;  // ← не передавать Shift дальше
        };
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
            display-name = "Base";
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4     &kp N5                                        &kp N6              &kp N7    &kp N8      &kp N9     &kp N0   &kp GRAVE
&kp TAB   &kp Q  &kp W  &kp E    &kp R      &kp T                                         &kp Y               &kp U     &kp I       &kp O      &kp P    &kp MINUS
&kp LCTRL &kp A  &kp S  &kp D    &kp F      &kp G                                         &kp H               &kp J     &kp K       &kp L      &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C    &kp V      &kp B               &comma_semi  &dot_colon   &kp N               &kp M     &kp LBKT    &kp RBKT   &kp FSLH &kp RSHFT
                        &kp LALT &mo CMD    &custom_md LWR DEF  &kp SPACE    &kp RET      &custom_md RAI RUS  &kp BSPC  &kp SUP(X)                      
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        russian_layer {
            display-name = "Russian";
            bindings = <
&trans    &trans       &trans     &trans     &trans     &trans                                     &trans       &trans         &trans        &trans        &trans        &trans
&trans    &uc UC_RU_Y  &uc UC_RU_TS  &uc UC_RU_U  &uc UC_RU_K  &ru_ye                              &uc UC_RU_N  &uc UC_RU_G    &ru_sh        &uc UC_RU_Z   &uc UC_RU_KH  &trans
&trans    &uc UC_RU_F  &uc UC_RU_BI  &uc UC_RU_V  &uc UC_RU_A  &uc UC_RU_P                         &uc UC_RU_R  &uc UC_RU_O    &uc UC_RU_L   &uc UC_RU_D   &uc UC_RU_ZH  &trans
&trans    &uc UC_RU_YA &uc UC_RU_CH  &uc UC_RU_S  &uc UC_RU_M  &uc UC_RU_I      &trans   &trans    &uc UC_RU_T  &ru_soft       &uc UC_RU_B   &uc UC_RU_YU  &uc UC_RU_E   &trans
                                     &trans       &trans       &trans           &trans   &trans    &trans       &trans         &trans
            >;
        };

        lower_layer {
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
// |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
// |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
//                     |      |      |      |        |  |       |      |       |       |
            display-name = "Lower";
            bindings = <
&bt BT_CLR &bt BT_SEL 0     &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3 &bt BT_SEL 4                 &trans    &trans    &trans          &kp UNDERSCORE    &kp KP_EQUAL    &trans
&kp F1     &kp F2           &kp F3            &kp F4            &kp F5       &kp F6                       &kp F7    &kp F8    &kp F9          &kp F10           &kp F11   &kp F12
&kp GRAVE  &kp EXCL         &kp AT            &kp HASH          &kp DOLLAR   &kp PRCNT                    &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR          &kp RPAR  &kp TILDE
&trans     &trans           &trans            &trans            &trans       &trans    &trans   &trans    &trans    &kp MINUS &kp KP_PLUS     &kp LBRC          &kp RBRC  &kp PIPE
                                              &trans            &trans       &trans    &trans   &trans    &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |

// |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
// |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
//                     |      |      |      |        |  |       |      |       |       |
            display-name = "Raise";
            bindings = <
&trans    &trans &trans &trans  &kp LG(LS(N4))  &trans                       &trans      &trans    &trans    &kp KP_MINUS   &kp KP_PLUS   &trans
&kp GRAVE &kp N1 &kp N2 &kp N3  &kp N4          &kp N5                       &kp N6      &kp N7    &kp N8    &kp N9         &kp N0        &trans
&kp F1    &kp F2 &kp F3 &kp F4  &kp F5          &kp F6                       &kp LEFT    &kp DOWN  &kp UP    &kp RIGHT      &trans        &trans
&kp F7    &kp F8 &kp F9 &kp F10 &kp F11         &kp F12   &trans   &trans    &kp KP_PLUS &kp MINUS &kp EQUAL &kp LBKT       &kp QUESTION  &kp BSLH
                        &trans  &trans          &trans    &trans   &trans    &trans      &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        cmd_layer {
          display-name = "CMD";
          bindings = <
&trans  &kp LG(N1)  &kp LG(N2)  &kp LG(N3)  &kp LG(N4)  &kp LG(N5)                             &kp LG(N6)       &kp LG(N7)  &kp LG(N8)  &kp LG(N9)  &kp LG(N0)  &trans
&trans  &kp LG(Q)   &kp LG(W)   &kp LG(E)   &kp LG(R)   &kp LG(T)                              &kp LG(Y)        &kp LG(U)   &kp LG(I)   &kp LG(O)   &kp LG(P)   &trans
&trans  &kp LG(A)   &kp LG(S)   &kp LG(D)   &kp LG(F)   &kp LG(G)                              &kp LG(H)        &kp LG(J)   &kp LG(K)   &kp LG(L)   &trans      &trans
&trans  &kp LG(Z)   &kp LG(X)   &kp LG(C)   &kp LG(V)   &kp LG(B)          &trans    &trans    &kp LG(N)        &kp LG(M)   &trans      &trans      &trans      &trans
                                &trans      &trans      &trans             &trans    &trans    &trans           &trans      &trans
          >;
      };

        extra_3 {
            status = "reserved";
        };
    };
};
